* {
    font-weight: 100;
}
h1, h2 {
    font-family: 'Bodoni MT';
}
.nav {
    position: relative;
}
.navbar a {
    text-decoration: none;
    color: #333;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-variant: small-caps;
    font-weight: lighter;
}
.navbar a:hover {
    color: teal;
}
.navbar a:active {
    color: teal;
}
.landing-text {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
}
.title1 {
    font-variant: small-caps;
    text-align: center;
    font-weight: 100;
}
.sub-title {
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 100;
}
h2 {
    font-weight: 100;
    margin-top: 70px;
}
.social-list {
    list-style: none;
    right: 0;
    padding: 0;
}
.social-list li {
    margin-top: 30px;
    margin-bottom: 30px;
}
.services-showing, .who-are, .latest-posts, .reviews {
    margin-top: 70px;
    margin-bottom: 70px;
}
.service-show {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}
.service-show h3 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 100;
    font-variant: small-caps;
}
#plan-it {
    background-image: url(images/plan-it.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#book-it {
    background-image: url(images/book-it.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#enjoy-it {
    background-image: url(images/enjoy-it.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.profile-text {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 19px;
    margin-left: 25px;
}
.name{
    font-weight: 100;
}
.post img {
    background-position: center;
    background-size: initial;
    background-repeat: no-repeat;
}
.post {
    grid-column: auto;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    justify-items: center;
    align-items:flex-start;
    text-align: center;
    margin-top: 50px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
}
.review {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 5px gray;
    border-radius: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-weight: 100;
}
.review img {
    width: 150px;
    border-radius: 50%;
}
.prev-btn, .next-btn {
    background: transparent;
    border: transparent;
    cursor:pointer;
}
.footer{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: 100;
    text-align: center;
    font-variant: small-caps;
    margin-top: 50px;
}

@media (min-width: 200px){
    body {
        margin-left: 20px;
        margin-right: 20px;
    }
    header {
        height: 50vh;
    }
    .navbar {
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .navbar li {
        margin: 20px;
        font-size: 20px;
    }
    .landing-page {
        background-image: url(images/landing-page.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 50vh;
        margin-top: 25px;
        margin-bottom: 0;
    }
    h2 {
        font-size: 35px;
        text-align: center;
    }
    .landing-text {
        height: 50%;
        width: 80%;
    }
    .title1 {
        font-size: 2.5rem;
        letter-spacing: 8px;
    }
    .sub-title {
        font-size: 1rem;
    }
    .service-showing {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .service-show {
        width: 100%;
    }
    .service-show h3 {
        font-size: 40px;
    }
    .who-are1 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .who-are1 img {
        width: 200px;
    }
    .posts {
        display: grid;
        grid-template-columns: auto;
    }
    .post img {
        width: 90%;
    }
    .sidebar-toggle, .close-btn {
        background-color: transparent;
        border-color: transparent;
    }
    .sidebar-toggle {
        position: fixed;
        top: 2rem;
        right: 3rem;
        font-size: 2rem;
        transition: all 0.3s linear;
        cursor: pointer;
      }
      .sidebar-toggle:hover {
        animation: bounce 2s ease-in-out infinite;
      }
    @keyframes bounce {
        0% {
          transform: scale(1);
        }
        50% {
          transform: scale(1.5);
        }
        100% {
          transform: scale(1);
        }
      }
      .sidebar-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .close-btn {
        font-size: 1.75rem;
        transition: all 0.3s linear;
        cursor: pointer;
      }
      .close-btn:hover {
        transform: rotate(360deg);
      }
      .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 1);
        display: flex;
        flex-direction: column;
        transition: all 0.3s linear;
      }
      .hide-sidebar {
        transform: translate(-100%);
      }
      .show-sidebar {
        transform: translate(0);
      }

      .social-bar{
          display: none;
      }
      .nav-big {
        display: none;
      }
      .social-baro svg {
        width: 20px;
        height: 20px;
    }
    .service-show h3 {
        font-size: 40px;
    }
    .social-baro {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .social-list0{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        list-style: none;
    }
    .social-list0 li {
        margin: 15px; 
    }
    .nav0 ul {
        padding: 10px;
        margin: 0;
    }
    .social-baro ul {
        padding: 0;
    }
    .review {
        padding: 10px;
        font-size: 15px;
    }
    .prev-btn, .next-btn{
        width: 30px;
        height: 30px;
    }
    .buttons {
        width: 100%;
        height: 100%;
    }

}
@media (min-width: 768px){
    body {
        margin-left: 50px;
        margin-right: 50px;
    }
    header {
        height: 100vh;
    }
    .landing-page {
        background-image: url(images/landing-page.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin-top: 60px;
        margin-bottom: 0;
    }
    h2 {
        font-size: 43px;
        text-align: left;
    }
    .navbar {
        list-style: none;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;  
        justify-content: space-evenly;
        align-items: flex-start;
        height: 60px;
        position: fixed;
        background-color: #fff;
        width: 100%;
        padding: 0;
        margin: 0;
        top: 0;
        left: 0;
        right: 0;
    }
    .nav ul {
        align-items: center;
    }
    .navbar a {
        font-size: 20px;
    }
    .landing-text {
        height: 250px;
        width: 700px;
    }
    .title1 {
        font-size: 110px;
        letter-spacing: 8px;
    }
    .sub-title {
        font-size: 43px;
    }
    svg {
        width: 30px;
        height: 30px;
    }
    .social-bar {
        display: unset;
        position: absolute;
        top: 60px;
        left: 10px;
    }
    .service-showing {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .service-show {
        width: 367px;
        height: 231px;
    }
    .service-show h3 {
        font-size: 50px;
    }
    .who-are1 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .who-are1 img {
        width: 300px;
    }
    .posts {
        display: grid;
        grid-template-columns: auto auto;
    }
    .sidebar-toggle, .close-btn {
        display: none;
    }
    .social-baro{
        display: none;
    }
    .nav-big {
        display:block;
      }
      .sidebar{
          display: none;
      }
    .review {
        padding-left: 20%;
        padding-right: 20%;
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 20px;
    }
    .prev-btn, .next-btn{
        width: 50px;
        height: 50px;
    }
    .buttons {
        width: 100%;
        height: 100%;
    }
}
@media (min-width: 1024px){
    body {
        margin-left: 75px;
        margin-right: 75px;
    }
    header {
        height: 100vh;
    }
    .landing-page {
        background-image: url(images/landing-page.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin-top: 60px;
        margin-bottom: 0;
    }
    .social-bar {
        position: absolute;
        top: 60px;
        left: 22.5px;
    }
    .posts {
        display: grid;
        grid-template-columns: auto auto auto;
    }
    .who-are1 img {
        width: 100%;
    }
}
@media (min-width: 1440px){
    body {
        margin-left: 100px;
        margin-right: 100px;
    }
    header {
        height: 100vh;
    }
    .landing-page {
        background-image: url(images/landing-page.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin-top: 60px;
        margin-bottom: 0;
    }
    .landing-text {
        height: 300px;
        width: 600px;
    }
    .social-bar {
        position: absolute;
        top: 60px;
        left: 35px;
    }
}